<!--================Home Banner Area =================-->
<section *ngIf="homeBanner" class="home_banner_area mb-40">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content row text-center">
        <div class="col-lg-12">
         <!-- <p class="sub text-uppercase">men Collection</p> -->
          <h3>Fashion for <br /> upcoming Winter</h3>
          <h4>Fowl saw dry which a above together place.</h4>
          <a class="main_btn btn btn-light mt-40" href="#">View Collection</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--================ End Home Banner Area =================-->
<!--================Product Banner Area =================-->
<section class="banner_area" *ngIf="productBanner">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <div class="mb-3 mb-md-0">
          <h2>Product Details</h2>
          
        </div>
        <div class="page_link">
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a href="#">Product Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Producr Banner Area =================-->
