

<app-cart></app-cart>
<app-login></app-login>
<!--================ start footer Area  =================-->

<div aria-live="polite" aria-atomic="true" style="position: fixed;">
  <div class="toast" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" style="
  border-color: rgba(67,217,163,.3); background-color: #dcf8ee;">
     <div class="toast-header d-flex justify-content-end">
        <button type="button" class="ml-2 mb-1 close float-right" data-dismiss="toast">×</button>
     </div>
     <div class="toast-body d-flex justify-content-start">
        <strong class="Toast-title mt-2 mr-2">Product</strong>
        <p class="lead">successfuly added to cart!</p>
     </div>
  </div>
</div>

<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 single-footer-widget">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet commodi distinctio, quo nesciunt sed recusandae? Qui blanditiis neque rem quis officiis omnis, velit ut dolores atque et incidunt odit autem!</p>
      </div>

      <div class="col-lg-4 col-md-6 single-footer-widget">
        <h4>Newsletter</h4>
        <p>You can trust us. we only send promo offers,</p>
        <div class="form-wrap" id="mc_embed_signup">
          <form target="_blank" action="#"
            method="get" class="form-inline">
            <input class="form-control shadow-none" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your Email Address '" required="" type="email">
            <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"></i></button>
            

            <div class="info"></div>
          </form>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 single-footer-widget">
        <h4>Instagram feed</h4>
          <div class="flickr-widget">
            <ul class="flickr-list">
                <li>
                    <a href="../assets/images/Instagram/1.png" data-lightbox="picture-1">
                        <img src="../assets/images/Instagram/1.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="../assets/images/Instagram/2.png" data-lightbox="picture-2">
                        <img src="../assets/images/Instagram/2.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="../assets/images/Instagram/3.png" data-lightbox="picture-3">
                        <img src="../assets/images/Instagram/3.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="../src/assets/images/Instagram/4.png" data-lightbox="picture-4">
                        <img src="../assets/images/Instagram/4.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="src/assets/images/Instagram/5.png" data-lightbox="picture-5">
                        <img src="../assets/images/Instagram/5.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="src/assets/images/Instagram/6.png" data-lightbox="picture-6">
                        <img src="../assets/images/Instagram/6.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="img/instagram/i7.jpg" data-lightbox="picture-7">
                        <img src="../assets/images/Instagram/7.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="img/instagram/i8.jpg" data-lightbox="picture-8">
                        <img src="../assets/images/Instagram/8.png" alt="" class="img-responsive">
                    </a>
                </li>
            </ul>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>Follow Us</h4>
        <p>Let us be social</p>
        <div class="W-100 footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
        </div>
      </div>
      
    </div>
    <div class="footer-bottom row align-items-center">
      <p class="text-black-50 text-center m-0 col-lg-12 col-md-12">
Copyright &copy; <!--<script>document.write(new Date().getFullYear());</script> --> 2020
</p>
      
    </div>
  </div>
</footer>
<!--================ End footer Area  =================-->
