
@import "src/assets/base/_variables.scss";

@import  "src/assets/base/_reset.scss";
/* Single Product Area css
============================================================================================ */

.product_image_area {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  
  .s_product_inner {
  }
  
  .s_product_img {
    .carousel {
      position: relative;
      .carousel-indicators {
        margin: 0px;
        right: 20px;
        width: auto;
        left: auto;
        bottom: 30px;
        li {
          height: 60px;
          width: 60px;
          background: transparent;
          text-indent: 0;
          margin-right: 10px;
          position: relative;
          &:after {
            display: none;
          }
          &:before {
            content: "";
            background: rgba(197, 50, 45, 0.8);
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
          &.active {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  
  .s_product_text {
   
    margin-top: 65px;
    h3 {
      font-size: 24px;
      font-weight: 500;
      color: $title-color;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 15px;
    }
    .list {
      li {
        margin-bottom: 5px;
        a {
          font-size: 14px;
          font-family: $body-font;
          font-weight: normal;
          color: #555555;
          span {
            width: 90px;
            display: inline-block;
            &:hover {
              color: #555;
            }
          }
          &.active {
            color: $primary-color;
            span {
              color: #555;
            }
          }
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    p {
      padding-top: 20px;
      border-top: 1px dotted #d5d5d5;
      margin-top: 20px;
      margin-bottom: 70px;
    }
    .card_area {
      .main_btn {
        line-height: 38px;
        padding: 0px 38px;
        text-transform: uppercase;
        margin-right: 10px;
      }
      .icon_btn {
        margin-right: 10px;
        background: $offwhite;
        border-radius: 3px;
        color: $title-color;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        padding: 0px 13px;
        font-size: 14px;
        &:hover {
          background: #fff;
          box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  
  .product_count {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
    label {
      font-size: 14px;
      color: $text-color;
      font-family: $body-font;
      font-weight: normal;
      padding-right: 10px;
    }
    input {
      width: 76px;
      border: 1px solid #eeeeee;
      border-radius: 3px;
      padding-left: 10px;
    }
    button {
      display: block;
      border: none;
      background: transparent;
      box-shadow: none;
      cursor: pointer;
      position: absolute;
      right: 0px;
      font-size: 14px;
      color: #cccccc;
      @include transition;
      &:hover {
        color: $title-color;
      }
    }
    .increase {
      top: -4px;
    }
    .reduced {
      bottom: -1px;
    }
  }
  
  .product_description_area {
    padding-bottom: 120px;
    margin-top: 60px;
    .nav.nav-tabs {
      background: $offwhite;
      text-align: center;
      display: block;
      border: none;
      padding: 10px 0px;
      li {
        display: inline-block;
        margin-right: 7px;
        &:last-child {
          margin-right: 0px;
        }
        a {
          padding: 0px;
          border: none;
          line-height: 38px;
          background: #fff;
          border: 1px solid #eeeeee;
          border-radius: 0px;
          padding: 0px 30px;
          color: $title-color;
          font-size: 13px;
          font-weight: normal;
          &.active {
            background: $primary-color;
            color: #fff;
            border-color: $primary-color;
          }
        }
      }
    }
    .tab-content {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 30px;
      p {
        color: $text-color;
      }
      .total_rate {
        .box_total {
          background: $offwhite;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
          h4 {
            color: $primary-color;
            font-size: 48px;
            font-weight: bold;
          }
          h5 {
            color: $title-color;
            margin-bottom: 0px;
            font-size: 24px;
          }
          h6 {
            color: $title-color;
            margin-bottom: 0px;
            font-size: 14px;
            color: $text-color;
            font-weight: normal;
          }
        }
        .rating_list {
          margin-bottom: 30px;
          h3 {
            font-size: 18px;
            color: $title-color;
            font-family: $body-font;
            font-weight: 500;
            margin-bottom: 10px;
          }
          .list {
            li {
              a {
                font-size: 14px;
                color: $text-color;
                i {
                  color: #fbd600;
                }
              }
              &:nth-child {
                a {
                  i {
                    &:last-child {
                      color: #eeeeee;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .table {
        margin-bottom: 0px;
        tbody {
          tr {
            td {
              padding-left: 65px;
              padding-right: 65px;
              padding-top: 14px;
              padding-bottom: 14px;
              h5 {
                font-size: 14px;
                font-family: $body-font;
                font-weight: normal;
                color: $text-color;
                margin-bottom: 0px;
                white-space: nowrap;
              }
            }
            &:first-child {
              td {
                border-top: 0px;
              }
            }
          }
        }
      }
    }
  }
  
  .review_list {
  }
  
  .review_item {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0px;
    }
    p {
      color: $text-color;
    }
    .media {
      position: relative;
      .d-flex {
        padding-right: 15px;
      }
      .media-body {
        vertical-align: middle;
        align-self: center;
        h4 {
          margin-bottom: 0px;
          font-size: 14px;
          color: $title-color;
          font-family: $body-font;
          margin-bottom: 8px;
        }
        i {
          color: #fbd600;
        }
        h5 {
          font-size: 13px;
          font-weight: normal;
          color: $text-color;
        }
        .reply_btn {
          border: 1px solid #e0e0e0;
          padding: 0px 28px;
          display: inline-block;
          line-height: 32px;
          border-radius: 16px;
          font-size: 14px;
          font-family: $body-font;
          color: $title-color;
          position: absolute;
          right: 0px;
          top: 14px; // @icnlude transition;
          &:hover {
            background: $primary-color;
            border-color: $primary-color;
            color: #fff;
          }
        }
      }
    }
    p {
      padding-top: 10px;
      margin-bottom: 0px;
    }
    &.reply {
      padding-left: 28px;
    }
  }
  
  .review_box {
    h4 {
      font-size: 24px;
      color: $title-color;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0px;
      display: inline-block;
    }
    .list {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      li {
        display: inline-block;
        a {
          display: inline-block;
          color: #fbd600;
        }
      }
    }
    .contact_form {
      margin-top: 15px;
    }
  }
  
  .comment_list {
    .review_item {
    }
  }
  
  /* End Single Product Area css
  ============================================================================================ */