<app-header type="product"></app-header>
<!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                    <img class="w-100" [src]="item.ImagePath" alt="" />
                  </li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" >
                    <img class="w-100" [src]="item.ImagePath" alt=""  />
                  </li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2">
                    <img class="w-100" [src]="item.ImagePath" alt=""/>
                  </li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" [src]="item.ImagePath" alt="First slide" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" [src]="item.ImagePath" alt="Second slide" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" [src]="item.ImagePath" alt="Third slide" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>{{item.ProductName}}</h3>
              <h2>${{item.ProductPrice}}</h2>
              <ul class="list">
                <li>
                  <a class="active" href="#">
                    <span>Category</span> : {{ item.Category }}</a
                  >
                </li>
                <li>
                  <div *ngIf="availableStock; else elseBlock">  
                    <a href="#"> <span>Availibility</span> : In Stock</a> 
                    </div>  
                    <ng-template #elseBlock>  
                      <a href="#"> <span>Availibility</span> : Not in Stock</a> 
                    </ng-template>  
                  
                </li>
              </ul>
              <p>
                {{item.ProductDescription}}
              </p>
              <div class="product_count">
                <label for="qty">Quantity:</label>
                <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty" />
                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count"
                  type="button">
                  <i class="fa fa-angle-up"></i>
                </button>
                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"
                  class="reduced items-count" type="button" >
                  <i class="fa fa-angle-down"></i>
                </button>
              </div>
              <div class="card_area">
                <a class="main_btn btn btn-primary" href="#">Add to Cart</a>
                <a class="icon_btn" href="#">
                  <i class="fa fa-diamond"></i>
                </a>
                <a class="icon_btn" href="#">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->